body{
	background-image: url(https://ad23.asmrc.org/sites/default/files/districts/ad23/media/featured-news/10689-23_Patterson_featurednews_candy_10689.jpg);
	background-size: cover;
	width: 100%;
}

label {
	color: white;
}

.storeSign{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-size: 80px;
  font-family: 'Shadows Into Light', cursive; 
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}



.openOrderBox{
	border-style: solid;
	border-color: yellow;
	border-radius: 20px;
	text-align: center;
	background-color: rgba(153, 255, 255, 0.6);
}
#openOrderHeader{
	color:blue;
	font-family: 'Fjalla One', sans-serif;
}
#newOrderUL{
	text-align: center;
}
.newOrderLI{
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	color: red;
	background-color: rgba(255, 255, 51, 0.8);
	border-color: red;
	word-wrap: break-word;
	width: 100%;
}

.newOrderLI:hover{
	background-color: red;
	color:black;
}
.currentOrderBoxHeader{
	color: greenyellow;
	font-family: 'Fjalla One', sans-serif;
	}
.currentOrderBox{
	border-style: solid;
	border-color: red;
	border-radius: 20px;
	background-color: rgba(255, 0, 255, 0.6);
	text-align: center;
	margin-bottom: 0%;
}
#receiptContainer{
	margin-bottom: 2px;
	overflow-y:scroll-hidden; overflow-x:hidden; height:300px;
}

.receiptItem{
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	list-style: none;
	font-size: 22px;
	color: yellow;
	margin-right: 10px;
}

.total{

}
#totalDiv{
	position: relative;
	text-align: right;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
}


.button:hover{
	background-color:blue;
}

#candyMenuHeader{
	color:navy;
	font-family: 'Fjalla One', sans-serif;
}
.menuBox{
	border-style: solid;
	border-color: blue;
	background-color: rgba(255, 255, 51, 0.6);
	text-align: center;
	border-radius: 20px;
	padding-bottom: 2%;
}

.buttonBox {
	margin-bottom: 3%;
	font-family: 'Fjalla One', sans-serif;
}
.currentOrderButton {

}

.menu{
	border:solid 1px;
}

.menuItem{
	padding: 3px;
	font-size: 15px;
	font-weight: bold;
	border: solid 2px;
	border-color: blue;
	border-radius: 20px;
	background-color: red;
	height: 75px;
	font-family: 'Fjalla One', sans-serif;
}
.menuItem:hover{
	background-color:yellow;
}

#trademark{
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font: normal 30px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(0,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

